{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competence</h1>

    <table>
        <tbody>
     

            <tr>
                <th>User</th>
                </tr>
              
                
                     {% for i in skill %}
                     {% for j in user %}
                     {% if i.id_user_id == j.id %}
                <tr>
                <td>{{ j.nick}}</td>
            </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                
                
     
        </tbody>
    </table>

  
{% endblock %}
